{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Firdouse M</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/firdouse.jpg' %}" >
					<hr>
					<h4>Greetings! I'm Firdouse M</h4>
					<p>A Passionate Back-End Developer and Critical Thinker</p>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
				<h4>My Journey into the World of Coding and Creativity</h4>
				<hr>
					<p>From my earliest encounters with computers, I knew I had found my true calling. Graduating with a BSc in Computer Science, I embarked on a thrilling journey through the realms of coding and creativity. </p>

					<p>Much like a painter with a canvas, I approach coding as an art, blending the scientific precision of programming with the boundless possibilities of imagination.</p>

					<p>I am not just a developer; I am a perpetual learner. Collaborating with YouTube, GitHub, and various online resources, I bridge the gap between theoretical understanding and practical application. As I tread the path of a fresher seeking new opportunities, I am committed to completing projects with unwavering dedication and assistance.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
						<li><img class="social" src="{% static 'images/instagram.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
					</ul>
	
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Crafting Digital Masterpieces and Exploring Endless Horizons</h5>
					<hr>
					<p>One of my greatest joys is wielding the power of Photoshop to craft digital marvels that come to life on screens.</p>
					<p>But my creative prowess doesn't stop there; I'm also an adept custom ROM developer for Android phones. With each ROM I create, I mold the Android experience to be a unique reflection of my ingenuity.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Advanced Python and Django Expertise</h5>
					<hr>
					<p>Diving deeper into the coding world, I honed my skills with an Advanced Python with Django course. Armed with this knowledge, I embarked on a journey of crafting elegant web solutions</p>
					<p>Projects like "PyShop," an online fruit store, and "Varna Kerala," a hub for art enthusiasts, showcase my ability to transform ideas into functional and aesthetically pleasing digital spaces.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Driving Excellence with Django CRM and Beyond</h5>
					<hr>
					<p>Among my many projects, "Private Taxi Portal" stands tall, offering a seamless cab booking experience for travelers.</p>

					<p> Additionally, my brainchild, "Django CRM," a comprehensive customer relations model, exhibits my mastery over backend development. With my expertise in MySQL, HTML, Bootstrap, and more, I consistently push boundaries to create exceptional digital solutions.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Embarking on a Journey of Growth and Collaboration</h5>
				<hr>
				<p>My short-term aspirations mirror the evolution of my coding journey. Eager to contribute and collaborate, I am determined to join a dynamic team that fosters growth and learning.Through blogging, I intend to share my experiences, challenges, and triumphs, creating a platform that connects me with fellow enthusiasts and industry experts.</p>
				<p>In the realm of coding, creativity, and critical thinking, I am Firdouse M—a back-end developer driven by a relentless passion to turn ideas into reality. Join me as I weave code, creativity, and curiosity into a tapestry of digital innovation.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>